@import "../../utilities/constants";
.rights {
  margin: 0;
  padding: 1rem 0;
  background-color: $light_color;
  color: white;
}
.footer-container {
  display: flex;
  background-color: $dark_color;
  padding: 2rem 10rem;
  color: white;
  .about-us,
  .costumers-service,
  .collection,
  .get-social {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 0 10rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      &:hover {
        text-decoration: underline;
        color:lightgray;
      }
      padding-bottom: 2rem;
    }
  }

  .about-us {
    p {
      padding-bottom: 1rem;
    }
  }

  .get-social {
    li {
      padding-right: 2rem;
      float: left;
    }
    i {
      font-size: 3rem;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }
}
