@import "utilities/constants";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20rem;
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0px;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  text-align: center;
  min-height: 50px;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
