@import "../../utilities/constants";

.button-wrapper {
  display: inline-flex;
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  height: 40px;
  width: 200px;
  margin: 20px 0;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  justify-content: center;

  transition: 0.2s;

  cursor: pointer;
}

.light1 {
  background-color: $main_color_brown;
  color: white;
  &:hover {
    color: $main_color_brown;
    background-color: white;
  }
}

.light2 {
  background-color: white;
  color: $main_color_brown;
  &:hover {
    color: white;
    background-color: $main_color_brown;
  }
}
.dark1 {
  background-color: $main_color_blue;
  color: white;
  &:hover {
    color: $main_color_blue;
    background-color: white;
  }
}

.dark2 {
  background-color: white;
  color: $main_color_blue;
  &:hover {
    color: white;
    background-color: $main_color_blue;
  }
}
